.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4.2rem;
  color: #4ECCA3;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Lobster', cursive;
  color: #4ECCA3;
  font-size: 1.5rem;
  background: #393E46;
  padding: 10px 20px 10px 20px;
  border: solid #4ECCA3 1px;
  text-decoration: none;
}

.btn:hover {
  background: #232931;
  text-decoration: none;
}

.winnerPara {
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 1.5rem;
  color: #fff;
}

p {
  font-size: 1.5rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button {
  display: block;
  margin: auto;
}

/* Media query */
@media (max-width: 800px) {  
  .dice {
    margin-right: 15px;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  img {
    width: 100px;
  }

  h1 {
    font-size: 3.2rem;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .winnerPara {
    font-size: 1.5rem;
    padding-top: 30px;
    margin-bottom: 0;
  }

  p {
    font-size: 1.2rem;
  }
}